body{
  margin: 0;
  padding: 0;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

form{
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  max-width: 30vw;
  flex-direction:column;
}

.property-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.property{
  width: 20vw;
  padding: 5px;
}

p{
  text-align: left;
}
