*{
  padding: 30;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}

body{
  margin: 0;
  padding: 40;
  justify-content: center;
}

h1.website-header{
  color: #585a5e;
  padding-left: 10px;
}

.router-container{
  display: flex;
  flex-direction: row;
}


.margin{
  display: flex;
  width: 10vw;
}

.form-container{
   display: flex;
   align-items: center;
   justify-content: center;
  flex-direction: column;
  /* text-align: center; */
}

form{
  /* display: inline-block; */
  margin: 20px;
  padding: 10px;
  display: flex;
  min-width: 40vw;
  max-width: 60vw;
  flex-direction:column;
  border-radius: 5px;
  box-shadow: 0.2px 0.4px 5px 0.2px;
}

label{
  border: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input{

  /* border: 10px; */
  padding: 5px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
}

.homepage{
  display: flex;
  flex-direction: column;
  color: blue;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #585a5e;
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#customer-selector{
  outline: none;
  /* box-shadow: 0.2px 0.4px 4px 0.2px; */
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;

}

#booking-form-filter-button{
  outline: none;
  /* box-shadow: 0.1px 0.1px 4px 0.1px; */
  border-radius: 5px;
  cursor: pointer;
  /* max-width: 20vw; */
  margin-left: 5vw;
  margin-right: 5vw;
  height: 5vw;
}

#booking-form-filter-button:hover{
  background-color: #acacac;
}

#booking-form-submit{
  /* visibility: hidden; */
  min-width: 20vw;
}

#booking-form-submit-button{
  height: 5vh;
  /* width: 10vw; */
}

#booking-form-submit-button:hover{
  background-color: #acacac;
}

.form-submit{
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 5vw;
}

.form-submit:hover{
  background-color: #acacac;
}



/*form{
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  max-width: 30vw;
  flex-direction:column;
}

.property-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: white;
}

.property{
  width: 20vw;
  padding: 5px;
  color: black;
}

p{
  text-align: left;
} */
